<ion-content>

  <ion-grid style="padding: 15px">
    <ion-row style="align-content: space-between">
      <ion-col>
        <ion-icon name="close" (click)="close()"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-end" *ngIf="!isStudent">
        <ion-icon name="trash" (click)="removeAlert()" style="color: var(--ion-color-danger)"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-title class="ion-text-center">{{ task.title }}</ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-text>{{ task.description }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-title style="font-size: initial">Comentários</ion-title>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let comment of task.comments">
      <ion-col>
        <ion-card>
          <ion-card-header style="display: inline-flex">
            <ng-multiavatar [seed]="comment.userGivenName"></ng-multiavatar>
            <ion-card-subtitle style="margin-left: 20px">{{comment.userFullName}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{ comment.comment }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<form [formGroup]="form">
  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-input placeholder="Faça um comentário..."
                   formControlName="comment"></ion-input>
        <ion-icon name="paper-plane"
                  [class.enabled]="form.value.comment?.length > 0"
                  (click)="submit()"></ion-icon>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</form>
