<ion-content>

  <ion-grid style="padding: 15px">
    <ion-row style="align-content: space-between">
      <ion-col>
        <ion-icon (click)="close()" name="close"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-end">
        <div class="buttons">
          <ion-icon (click)="openGroupList()"
                    name="people-outline"></ion-icon>
          <ion-icon (click)="openEditDialog()"
                    *ngIf="!isStudent"
                    name="create-outline"></ion-icon>
          <ion-icon (click)="removeAlert()"
                    *ngIf="!isStudent"
                    name="trash"
                    style="color: var(--ion-color-danger)"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-title class="ion-text-center">{{ task.title }}</ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-text>{{ task.description }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-title style="font-size: initial">Comentários</ion-title>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let comment of task.comments">
      <ion-col>
        <ion-card>
          <ion-card-header style="display: inline-flex">
            <ion-avatar *ngIf="comment.userPhoto"
                        style="height: 46px;width: 46px;"><img [src]="comment.userPhoto"></ion-avatar>
            <ng-multiavatar *ngIf="!comment.userPhoto" [seed]="comment.userGivenName"></ng-multiavatar>
            <ion-card-subtitle style="margin-left: 20px">{{comment.userFullName}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{ comment.comment }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<form [formGroup]="form">
  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-input formControlName="comment"
                   placeholder="Faça um comentário..."></ion-input>
        <ion-icon (click)="submit()"
                  [class.enabled]="form.value.comment?.length > 0"
                  name="paper-plane"></ion-icon>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</form>
