<ion-content>

  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="students-list">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Alunos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="class-tasks">
        <ion-icon name="folder-open"></ion-icon>
        <ion-label>Trabalhos e Exercícios</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngIf="!isStudent" tab="class-config">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
