<ion-content>
  <ion-grid style="padding: 15px">
    <ion-row style="align-content: space-between">
      <ion-col>
        <ion-icon (click)="close()" name="close"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let student of students">
            <ion-label style="display: inline-flex">
              <ng-multiavatar [seed]="student.name"></ng-multiavatar>
              <span style="margin: auto 10px;">{{student.name ?? student.name}}</span>
            </ion-label>
            <ion-checkbox [(ngModel)]="student.isChecked" slot="end"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-button (click)="sentCall()" expand="block">Enviar Chamada</ion-button>
</ion-footer>
