<ion-content>
  <div class="main-content"></div>
  <ion-grid>
    <ion-col>
      <div class="ion-text-center" style="margin-top: 150px">
        <img src="../../../assets/images/logo.svg" height="58" width="58" alt="">
      </div>
    </ion-col>
    <div class="google-divider"></div>
    <ion-col>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="mail-outline"></ion-icon>
          Email
        </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="key-outline"></ion-icon>
          Password
        </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-button expand="full" shape="round" class="signin-button">
        Login
      </ion-button>
    </ion-col>
  </ion-grid>
</ion-content>
