<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Perfil do aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile">
    <ng-multiavatar [hasBackground]="true" [seed]="student.givenName"></ng-multiavatar>
    <ion-title> {{ student.fullName }}</ion-title>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let quality of student.qualities" size="4">
        <ion-list lines="none">
          <ion-item (click)="addQuality(quality.name)" class="ion-text-center">
            <ion-label>
              <img *ngIf="quality.name === 'helpingOthers'" alt="" src="../../../../assets/icon/heart-svgrepo-com.svg"
                   style="max-width: 60%">
              <img *ngIf="quality.name === 'onTask'" alt="" src="../../../../assets/icon/like-svgrepo-com.svg"
                   style="max-width: 60%">
              <img *ngIf="quality.name === 'participating'" alt="" src="../../../../assets/icon/flash-svgrepo-com.svg"
                   style="max-width: 60%">
              <img *ngIf="quality.name === 'teamWork'" alt="" src="../../../../assets/icon/teamwork-svgrepo-com.svg"
                   style="max-width: 60%">
            </ion-label>
            <ion-badge slot="end">{{ quality.count }}</ion-badge>
          </ion-item>
          <div *ngIf="quality.name === 'helpingOthers'" class="skill"> Ajuda os demais</div>
          <div *ngIf="quality.name === 'onTask'" class="skill"> Faz atividades</div>
          <div *ngIf="quality.name === 'participating'" class="skill"> Participativo</div>
          <div *ngIf="quality.name === 'teamWork'" class="skill"> Trabalha em grupo</div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Faltas: {{student.absent}}
    </ion-title>
  </ion-toolbar>
</ion-footer>
