.class-img {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-family: var(--ion-font-family);
  width: 6rem;
  margin: 20px auto;
}

.code-button {
  margin: 10px 20px;
}

ion-row {
  margin: 1rem;
}

.buttons {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  height: auto;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 5rem;

  .action-button {
    background: gray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-content: center;
    border-radius: 15px;
    align-items: center;
    width: 70px;

    -moz-box-shadow: 0px 1px 5px 0px #676767;
    -webkit-box-shadow: 0px 1px 5px 0px #676767;
    box-shadow: 0px 1px 5px 0px #676767;

    ion-icon {
      font-size: 20px !important;
      margin-bottom: 5px;
    }
  }
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.link {
  background: #005aff82 !important;
}

.edit {
  background: #ff99008c !important;
}

.trash {
  background: #ff00007a !important;
}

.form-buttons {
  position: absolute;
  display: flex;
  padding: 1rem;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
}

.share-text {
  background: #F4D371;
  padding: 1rem;
  text-align: center;
  margin-top: 3rem;
}
