<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Configuração da classe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <div class="class-img">
        <img alt="" src="../../assets/icon/graduation-hat.png">
      </div>
    </ion-row>

    <ion-row>
      <ion-title class="ion-text-center">
        {{ class?.name }}
      </ion-title>
    </ion-row>

    <form *ngIf="showUpdateForm"
          [formGroup]="form">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>
              <ion-icon name="school-outline"></ion-icon>
            </ion-label>
            <ion-input formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-textarea formControlName="description"
                          placeholder="Descrição..."></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>

    <div *ngIf="!showUpdateForm"
         class="buttons">
      <div (click)="showLink(true)"
           class="action-button ion-activatable ripple-parent link">
        <ion-icon name="link-outline"></ion-icon>
        Link
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div (click)="showForm(true)"
           class="action-button ion-activatable ripple-parent edit">
        <ion-icon name="hammer-outline"></ion-icon>
        Editar
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div (click)="openExcludeDialog()"
           class="action-button ion-activatable ripple-parent trash">
        <ion-icon name="trash-outline"></ion-icon>
        Excluir
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>

    <div *ngIf="showUpdateForm"
         class="form-buttons">
      <ion-button (click)="showUpdateForm = false"
                  color="light">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        Cancelar
      </ion-button>
      <ion-button (click)="onSaveClass()"
                  [disabled]="loading || !form.valid"
                  color="success">
        <ion-icon name="checkmark-outline" slot="end"></ion-icon>
        Salvar
      </ion-button>
    </div>

    <!--<div *ngIf="showCode"-->
    <!--     class="share-text">-->
    <!--  &lt;!&ndash;TODO: COMPARTILHAR&ndash;&gt;-->
    <!--  <span class="ion-text-center">-->
    <!--    {{ class?._id }}-->
    <!--  </span>-->
    <!--</div>-->

  </ion-grid>

</ion-content>
