.class-img {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-family: var(--ion-font-family);
  width: 6rem;
  margin: 20px auto;
}

.code-button {
  margin: 10px 20px;
}

ion-row {
  margin: 1rem;
}
