.main-content {
  position: absolute;
  height: 100%;
  width: 100%;
  //background-image: url("./background.jpg"), linear-gradient(#f39c12, #f1c40f);;
  background-size: 100% 100%;
  background-image: linear-gradient(to right, rgba(230, 126, 34, 0.91), rgba(243, 156, 18, 0.89)), url('./background.jpg');
  background-position: center, right bottom;
  background-repeat: no-repeat, no-repeat;
  opacity: 80%;
}

.signup-button {
  height: 42px;
  --color: rgba(230, 126, 34, 0.91);
  --background: white;
  --border-radius: 50px;
}

.signin-button {
  margin-top: 35%;
  height: 42px;
  --border-radius: 50px;
}
