<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>login</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <div class="main-content"></div>
  <ion-grid>
    <ion-col>
      <div class="ion-text-center" style="margin-top: 200px">
        <img alt="" height="58" src="../../assets/images/logo.svg" width="58">
      </div>
      <div class="ion-text-center" style="font-family: 'Mitr', sans-serif; font-size: 1.3em">
        <span style="opacity: 50%">TooManyClass</span>
      </div>
    </ion-col>
    <ion-col>
      <ion-button class="signin-button"
                  color="light"
                  expand="full"
                  fill="outline"
                  routerLink="/signin"
                  shape="round">
        Cadastro
      </ion-button>
      <ion-button class="signup-button ion-margin-top"
                  expand="full"
                  routerLink="/signup"
                  shape="round">
        Login
      </ion-button>
    </ion-col>
  </ion-grid>
</ion-content>
