<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>login</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
    <div class="main-content"></div>
    <ion-grid>
        <ion-col>
            <div class="ion-text-center" style="margin-top: 200px">
                <img src="../../assets/images/logo.svg" height="58" width="58" alt="">
            </div>
            <div class="ion-text-center" style="font-family: 'Mitr', sans-serif; font-size: 1.3em">
                <span style="opacity: 50%">TooManyClass</span>
            </div>
        </ion-col>
        <ion-col>
            <ion-button expand="full"
                        shape="round"
                        class="signin-button"
                        fill="outline"
                        color="light"
                        routerLink="/signin">
                Sign in
            </ion-button>
            <ion-button expand="full"
                        shape="round"
                        class="signup-button ion-margin-top"
                        routerLink="/signup">
                Sign up
            </ion-button>
        </ion-col>
    </ion-grid>
</ion-content>
