<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="user-image">
      <img *ngIf="user && user?.imageUrl"
           [src]="user?.imageUrl">
      <ng-multiavatar *ngIf="user && !user?.imageUrl"
                      [seed]="user?.givenName"></ng-multiavatar>
    </div>
 
    <h5>{{user?.fullName}}</h5>

    <div class="form">
      <ion-button (click)="submit()" class="signin-button mt-3" expand="full">
        Enviar email para redefinir senha
      </ion-button>
    </div>
  </div>
</ion-content>
