.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.user-image {
  margin-top: 3rem;
  max-width: 96px;

  > img {
    max-width: 96px;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.45rem #000000);
  }
}

:host ::ng-deep {
  ng-multiavatar .multiavatar-svg {
    width: 96px;
    height: 96px;
    max-width: 96px;
    margin: auto;
  }
}
