<ion-content>

  <form (submit)="submit()" [formGroup]="form">
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="bookmark-outline"></ion-icon>
        Título
      </ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="description"
                    placeholder="Descrição..."
                    style="height: 30vh"></ion-textarea>
    </ion-item>

    <ion-button class="signin-button" expand="full" type="submit">
      <ion-icon name="checkmark-circle-outline" slot="end"></ion-icon>
      {{!!task ? 'Salvar' : 'Criar'}}
    </ion-button>
  </form>

</ion-content>
