.main-content {
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgb(230, 126, 34), rgb(243, 156, 18));
  //background-size: 100% 100%;
  opacity: 30%;
}

ion-item {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  --background: transparent;
  --color: black;
}

ion-icon {
  position: sticky;
  top: 2px;
}

.signin-button {
  margin-top: 20%;
  height: 42px;
  --border-radius: 50px;
  --background: white;
  --color: rgb(243, 156, 18);
}
