<ion-content>
  <div class="main-content"></div>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <ion-grid>
      <ion-col>
        <div class="ion-text-center" style="margin-top: 100px">
          <img alt="" height="58" src="../../../assets/images/logo.svg" width="58">
        </div>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="person-outline"></ion-icon>
            Nome Completo
          </ion-label>
          <ion-input formControlName="fullName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="key-outline"></ion-icon>
            Apelido
          </ion-label>
          <ion-input formControlName="givenName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="mail-outline"></ion-icon>
            Email
          </ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="key-outline"></ion-icon>
            Senha
          </ion-label>
          <ion-input formControlName="passwd" type="password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button class="signin-button" expand="full" shape="round" type="submit">
          Criar conta
        </ion-button>
      </ion-col>
    </ion-grid>
  </form>
</ion-content>
