<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header translucent>
    <ion-toolbar>
      <div class="header">
        <ion-avatar>
          <ion-skeleton-text *ngIf="!user"></ion-skeleton-text>
          <img (click)="openUserProfile()"
               *ngIf="user && user?.imageUrl"
               [src]="user?.imageUrl">
          <ng-multiavatar (click)="openUserProfile()"
                          *ngIf="user && !user?.imageUrl"
                          [seed]="user?.givenName"></ng-multiavatar>
        </ion-avatar>
        <div class="title">
          <ion-card-title class="ion-text-center main-title">TooManyClass</ion-card-title>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>


  <div #speechbubble *ngIf="bubble" class='speechbubble'>
    <ion-icon (click)="closeBubble()" name="close-circle-outline"></ion-icon>
    <span>
        Bem-vindo ao TooManyClass! <br>
        Ei {{user?.givenName}}, vamos começar? Podemos começar com <br> <br>
        <ion-button (click)="addNewClassModal()" fill="outline" shape="round">Criar uma nova classe</ion-button>
      </span>
  </div>

  <div class="classes">
    <h4 *ngIf="classes && classes.length > 0"
        style="margin-top: 1rem; margin-left: 10px">Classes</h4>

    <div *ngIf="!classes" class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="height: 100px"></ion-skeleton-text>
    </div>

    <div (click)="setActiveClass(class)"
         *ngFor="let class of classes"
         class="class-card">
      <div class="image">
        <img *ngIf="class.ownerId === user?._id" alt="" src="../../assets/icon/graduation-hat.png">
        <img *ngIf="class.ownerId !== user?._id" alt="" src="../../assets/icon/graduated.png">
      </div>
      <div class="summary">
        <div class="class-name">{{class.name}}</div>
        <ion-label style="margin-top: 10px">{{class.description}}</ion-label>
      </div>
    </div>

    <div (click)="presentActionSheet()" class="add-link">
      <ion-icon name="add-outline"></ion-icon>
      Adicionar nova classe
    </div>
  </div>

  <ion-fab horizontal="end" slot="fixed" style="margin: 10px" vertical="bottom">
    <ion-fab-button color="dark">
      <ion-icon ios="chevron-up-circle-outline" md="caret-up"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="logOut()" color="light">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openUserProfile()" color="light">
        <ion-icon name="person-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addNewClassModal()" color="light">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
